<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        
        <!-- Caching Configuration -->
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js.map" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css.map" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        
        <!-- HTTP Protocol Custom Headers -->
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By"/>
                <add name="Content-Security-Policy" value="default-src 'self'; font-src https://fonts.gstatic.com; script-src 'self'  https://*.de.deloitte.com https://*.microsoftonline.com; style-src 'self' 'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=' 'sha256-UdnhRQAu3riU19NY280fNRt3w9Vwqor80cMXCCNnUA=' https://fonts.googleapis.com" />
                <add name="Referrer-Policy" value="no-referrer" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        
        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <clear />
                <rule name="Client Side Routing" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Security Configuration -->
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        
    </system.webServer>

    <!-- Disable Cache for index.html -->
    <location path="index.html">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-store,no-cache" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>

</configuration>
